
body{
    margin:0px;
}

nav{
    position: fixed;
    height:54px;width:100%;background-color: #FFFFFF;
    

}

nav>#title-box{
    display:flex;
    max-width:1200px;height:54px;margin:auto;
}


#title{
    flex:auto;margin-bottom:0;
    font-size:30px;font-weight: bold;
    color: #448899;line-height:0px;
}

.menu{
    flex:none;width: 71px;
    font-size:16px;color: #666666;line-height:60px;
}

/*搜尋欄位*/

#search-box-background{
    height:320px;padding-top:54px;width:100%;
    background-image:url('images/welcome\ 1.png'),linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
    background-repeat:no-repeat;/*背景圖片不要重覆顯示（僅顯示一次）*/
    background-position: bottom right, top;/*背景圖片水平位置與垂直位置*/
    display: flex;
    justify-content:center;
    align-items:center;

    

}


#search-box{
    height:169px;
    max-width:1180px;width:90%;margin: 0 auto;
}

#search-box h3{
    font-size:28px;width:100%;color:#F8F8F8;margin:0px;height:41px;
}

#search-box p{
    font-size:16px;color:#F8F8F8;width:100%;height:22px;
}

#search-form{
    display: flex;margin-top:25px;
}

#search-box input{
    width:400px;height:46px;border-radius: 5px 0 0 5px;outline:none;line-height: 16px;
    padding:0px;border:0px;

}
#search-box button{
    width:60px;height:46px;
    background-color:#448899;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items:center;
    outline:none;
    border:none;/*不設None的話，會讓按鈕看起來是立體的*/
}


.search-btn img{
    width:30px;
    height:30px;
}


/*風景區區塊*/

#attractions-box{
    max-width:1170px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap:wrap;

    
}

.attraction{
    flex: none;
    width:270px;
    height:242px;
    border-radius:5px;
    border:solid;
    border-color: #ebe8e8;
    margin:30px auto 30px auto;
    
}

.attraction img{
    width:100%;border-radius:5px;
    height:70%;
    object-fit: cover;
}

.attraction h5{
	font-size:20px;font-weight:bold;
    margin:5px 0px 0px 5px;
    width:100%;
    color:#757575;
    overflow:hidden;/*字數過多會以...隱藏*/
    white-space: nowrap;
    text-overflow: ellipsis;
	
}

.mrt-category{
    display:flex;width:100%;
    
    color:#757575;
}

.mrt{
    flex:auto;font-size:16px;margin-left:10px;
}
.category{
    font-size:16px;flex:none;width:70px;
}






footer{
    background: #757575;height:104px;display:flex;
    flex: 0 0 auto;display: flex;justify-content:center;align-items:center;
}



@media (max-width:1200px){

    #search-box-background{
        background-position: bottom right -20%, top;
        background-size: 55%, cover;
        }

    .attraction{
        width: 45%;
        height:80%;
          
    }
    .attraction img{
        height:350px;
        object-fit: cover;
        width:100%;
    } 
}
 @media (max-width:1000px){

    #search-box-background{
        background-position: bottom right -20%, top;
        background-size: 55%, cover;
        }

    .attraction{
        width: 45%;
        height:80%;
    }
    .attraction img{
        height:300px;
        width:100%;
    }
}
@media (max-width:800px){

    #search-box-background{
        background-position: bottom right -20%, top;
        background-size: 55%, cover;
        }

    .attraction{
        width: 45%;
        height:80%;
    }
    .attraction img{
        height:200px;
        width:100%;
    }
}


@media (max-width:500px){

    #search-box-background{
        background-position: bottom right -20%, top;
        background-size: 60%, cover;
    }

    .attraction{
        width: 322px;
        height:280px;
    }
    .attraction img{
        width: 322px;
        height:202px;
    }


    /*
    nav,nav>#title-box{
        height:22px;
    }
    #title{
        font-size:10px;
    }
    .menu{
        font-size:4px;line-height:25px;width: 55px;
    }*/

} 