@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

html,body{
    margin:0px;
    height:100%;
    scroll-behavior: smooth;
    
}
body{
    display: flex;
    flex-direction: column;
    
}



nav{
    position: fixed;
    height:54px;width:100%;background-color: #FFFFFF;
    z-index: 9999;

}

nav>#title-box{
    display:flex;
    max-width:1200px;height:54px;margin:auto;
}

#title_div{
    flex:auto;
    margin-bottom:0;
}


#title{
    font-size:30px;font-weight: bold;
    color: #448899;line-height:0px;
    cursor: pointer;
}

.menu{
    flex:none;margin-left: 10px;
    font-size:16px;color: #666666;line-height:60px;
    cursor: pointer;
}


.menu:hover{
    border-bottom:solid 5px #448899;
}
#sign_out,#signin_signup{
    margin-right:10px;
}
#sign_out,#member{
    display:none;
}


footer{
    position: relative;
    top:54px;
    background: #757575;
    display:flex;
    flex-grow:1;
   justify-content:center;
}

.copyright{
    color: #FFFFFF;
    padding-top:25px;
}

/*登入/註冊彈出框*/
header{
    position: relative;
    top:54px
}
#signIn{
    display:none;
    position:fixed;
    width:340px;
    background-color: #FFFFFF;
    left: 50%;
    margin-left: -170px;
    margin-top: 75px;
    border-radius: 6px;
    z-index:9999;
}

#signUp{
    display:none;
    position:fixed;
    width:340px;
    background-color: #FFFFFF;
    left: 50%;
    margin-left: -170px;
    margin-top: 75px;
    border-radius: 6px;
    z-index:9999;
}

.decorator_bar{
    background: linear-gradient(270deg, #337788 100%, #66AABB 100%);
    border-radius: 6px 6px 0px 0px;
    width: 340px;
    height: 10px;
}

.main{
    max-width:310px;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.sign_title{
    padding-top:15px;
    font-size:24px;
    line-height: 24px;
    text-align: center;
    color:#666666;
    width:310px;
    font-weight: bold;
    margin:0px;
}

.cancel_btn{
    position: absolute;
    right:17px;
    top:27px;
    width:16px;
    height:16px;
    cursor: pointer;
}

.keyin{
    margin-top:10px;
    width:310px;
    height:47px;
    font-size:16px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
}
#sign_Up_email,#sign_In_email{
    margin-top:10px;
    width:160px;
    height:47px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

#selector_sign_up,#selector_sign_in{
    margin-top:10px;
    margin-left:5px;
    width:145px;
    height:47px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
}
#selector_sing_up >option,#selector_sing_up >option{
    font-family:'Noto Sans TC';
    font-size:16px;
    color:#666666;
}

.user_btn{
    font-size:19px;
    margin-top:10px;
    width:100%;
    height:47px;
    color:#FFFFFF;
    background-color: #448899;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
}
.userText{
    color: #666666;
    margin-top:15px;
}

#go_Sign_In,#go_Sign_Up{
    color: #666666;
    margin-top:15px;
    cursor: pointer;
}


#black_background{
    background-color: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index:100;
    display: none;   
}



#signUp_Message{
    display:none;
    width: 100%;
    text-align: center;
    color: #666666;
    font-size:18px;
    font-weight: bold;
}
#signIn_Message{
    display:none;
    width: 100%;
    text-align: center;
    color: #666666;
    font-size:18px;
    font-weight: bold;
}