{%extends "base.html" %}



    {% block css%}
    <link rel="stylesheet" href="../static/css-attraction.css">
    
    {% endblock%}

    {% block header%}
        <section >
            <div id="profile">
                <div id="img_List">
                    <button id="left_arrow"><img src="../static/images/Button/btn_leftArrow.png"></src></button>
                
                    <button id="right_arrow" ><img src="../static/images/Button/btn_rightArrow.png"></button>
                    <ul id="dot">
                    </ul>
                </div>
                <div id="booking_big_box">
                    <div id="booking_box">
                    </div>
                    <div class="details">
                        <h4>訂購導覽行程</h4>
                        <p class="note">以此景點為中心的一日行程，帶您探索城市角落故事</p>
                        <div>
                            <p class="choose">選擇日期：
                            <input type="date" class="choose_date" id="choose_date" min="2021-05-01">
                            </p>
                        </div>
                        <div class="choose_box">
                            <p class="choose">選擇時間： 
                            <label class="container">上半天
                                <input type="radio" name="radio" value="2000" checked="checked" id="radio1">
                                <span class="checkmark"></span>
                                </label>
                                <label class="container">下半天
                                <input type="radio" name="radio" value="2500" id="radio2">
                                <span class="checkmark"></span>
                                </label>
                            </p>
                        </div>
                        <div id="charge_box">
                            <p class="choose" id="choose_charge">導覽費用：
                            <div id="charge1_div">
                                <p class="charge1">新台幣2000元</p>
                            </div>
                            <div id="charge2_div">
                                <p class="charge2">新台幣2500元</p>
                            </div>    
                            </p>
                        </div>
                        <button id="start_Booking_btn">開始預訂行程</button>
                    </div>
                </div>
            </div>
        </section>
        <hr class="line">
        <article >
            <div id="description-box">
            </div>
            <h5>景點地址：</h5>
            <div id="address-box">
            </div>
            <h5>交通方式:</h5>
            <div id="transport-box">
            </div>
        </article>
    </div>
    {% endblock %}
    
    {% block script%}
    <script src="../static/js/attraction.js"></script>
    {% endblock %}