<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
        {% block css %}{% endblock %}
        <title> Taipei Trip 台北一日遊</title>
    </head>
    <body>
            <header>
                <nav>
                    <div id=title-box>
                        <div id=title_div>
                        <h3 id=title>台北一日遊</h3>
                        </div>
                        <div class=menu id="booking_Schedule">預定行程</div>
                        <div id=signin_signup class=menu>登入/註冊
                        </div>
                        <div id=member class=menu>歷史訂單</div>
                        <div id=sign_out class=menu>登出系統</div>   
                    </div>
                   
                </nav>
                <div id=black_background></div> 
                <div id=signIn class=user_box>
                    <div class=decorator_bar></div>
                        <div class=main><!--父層與子層會互相影響，如果放在登入註冊之下，監聽事件會相互連動-->
                            <p class=sign_title>登入會員帳號</p>
                            <img class=cancel_btn id=cancel_btn1 src="/static/images/Dialog/icon/icon_close.png">
                            <input id=sign_In_email class=keyin type="email" placeholder="  輸入電子信箱">
                            <select name="sign_in_select" id=selector_sign_in onchange="">
                                <option value="@gmail.com">@gmail.com</option>
                                <option value="@yahoo.com.tw">@yahoo.com.tw</option>
                                <option value="">其他(請自行輸入)</option>
                            </select>
                            <input id=sign_In_password class=keyin type="password" placeholder="  輸入密碼">
                            <button id=signIn_button class=user_btn onclick="click">登入帳戶</button>
                            <p class="userText">還沒有帳戶?<div id=go_Sign_Up> 點此註冊</div></p>
                            <p id=signIn_Message></p>
                        </div>
                </div>
                <div id=signUp class=user_box>
                    <div class=decorator_bar></div>
                    <div class=main>
                        <p class=sign_title>註冊會員帳號
                        <img class=cancel_btn id=cancel_btn2 src="/static/images/Dialog/icon/icon_close.png" ></p>
                        <input  id=sign_Up_name class=keyin type="text" placeholder="  輸入姓名">
                        <input id=sign_Up_email class=keyin type="email" placeholder="  輸入電子郵件">
                        <select name="sign_up_select" id=selector_sign_up onchange="">
                            <option value="@gmail.com">@gmail.com</option>
                            <option value="@yahoo.com.tw">@yahoo.com.tw</option>
                            <option value="">其他(請自行輸入)</option>
                        </select>
                        <input id=sign_Up_password class=keyin type="password" placeholder="  輸入密碼">
                        <button id=signUp_button class=user_btn onclick="click">註冊新帳戶</button>
                        <p class="userText">已經有帳戶了?</p><div id=go_Sign_In> 點此登入</div>
                        <p id=signUp_Message></p>
                    </div>
                </div>

                {% block header %}{% endblock %}
            </header>
            
                <footer id=footer>
                    <div>
                        <p class="copyright">COPYRIGHT © 2021 台北一日遊</p>
                    </div>
                </footer>
        
            <script src="../static/js/login.js"></script><!--登入與註冊表單功能-->
            {% block script%}{% endblock%}
    </body>
</html>