{%extends "base.html" %}

{% block css%}
    <link rel="stylesheet" href="../static/css-history.css">
{% endblock%}

{% block header%}
    <section>
        <article >
            <div id="attractions-box">
                <div id="history_Message_box">      
                    <p id="history_Message"></p> 
                </div>
                <div id="big_data_box">
                    <div id="data_box">
                        
                    </div>
                    
            </div>
        </article>  
    </section>                             
{% endblock%}

{% block script%}
<script src="../static/js/history.js"></script>
{% endblock%}