{%extends "base.html" %}
    

        {% block css%}
            <link rel="stylesheet" href="../static/css-index.css">
        {% endblock%}
        {% block header%}


                <div id=search-box-background>
                    <div id=search-box>
                        <h3>輕鬆享受台北一日悠閒</h3>
                        <p>探索每個角落，體驗城市的深度旅遊行程</p>
                        <div id=search-form>
                            <input id=keyword type="text" placeholder="  輸入景點名稱查詢">
                            <button id=search_button  onClick='click'><img src="../static/images/icon/icon_search.png"></button>
                        </div>
                    </div>
                </div>
            


            <section>
                <article id=attractions-box>
                </article>
            </section>

        {% endblock%}
        {% block script%}
        <script src="../static/js/index.js"></script>
        {% endblock%}
