<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
        <title>Taipei Trip 台北一日遊</title>
        <link rel="stylesheet" href="../static/css-index.css">
    </head>
    <body>
        <div id="container">
            <header>
                <nav>
                    <div id=title-box>
                        <h3 id=title>台北一日遊</h3>
                        <div class=menu>預定行程</div>
                        <div class=menu>登入/註冊</div>
                    </div>
                </nav>

                <div id=search-box-background>
                    <div id=search-box>
                        <h3>輕鬆享受台北一日悠閒</h3>
                        <p>探索每個角落，體驗城市的深度旅遊行程</p>
                        <form id=search-form>
                            <input type="text" placeholder="  輸入景點名稱查詢">
                            <button><img src="../static/images/icon/icon_search.png"></button>
                        </form>
                    </div>
                </div>
            </header>


            <section>
                <article id=attractions-box>
                    <!--<div class="attraction">
                       <img class="pics" src="../static/images/溫泉.jpg">
                        <h5 class="pics-name">溫泉</h5>
                        <div class="mrt-category">
                            <p class="mrt">新北投</p>
                            <p class="category">風景區</p>
                        </div>

                    </div>
                    <div class="attraction">
                        <img class="pics" src="../static/images/溫泉.jpg">
                        <h5 class="pics-name">溫泉</h5>
                        <div class="mrt-category">
                            <p class="mrt">新北投</p>
                            <p class="category">風景區</p>
                        </div>
                    </div>
                    <div class="attraction">
                        <img class="pics" src="../static/images/溫泉.jpg">
                        <h5 class="pics-name">溫泉</h5>
                        <div class="mrt-category">
                            <p class="mrt">新北投</p>
                            <p class="category">風景區</p>
                        </div>
                    </div>
                    <div class="attraction">
                        <img class="pics" src="../static/images/溫泉.jpg">
                        <h5 class="pics-name">溫泉</h5>
                        <div class="mrt-category">
                            <p class="mrt">新北投</p>
                            <p class="category">風景區</p>
                        </div>
                    </div>-->
                </article>
            </section>



            <footer>
                <div>
                    <p>COPYRIGHT © 2021 台北一日遊</p>
                </div>
            </footer>
        </div>


        <script src="../static/js/js-index.js"></script>
    </body>
</html>