<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Sender Mail Test</title>
    </head>
    <body>
        <section>
            <article >
                <div id="attractions-box">
                    <div id="big_data_box">
                            <div id="order_form_box">
                                <h2 >訂單編號：{{orderNumber}}</h2>
                                <h3 id="order_name" >台北一日遊：{{att_name}}</h2>
                                <div class="order_info" style="color: #666666;">日期：{{date}}</div>
                                <div class="order_info"  style="color: #666666;">時間：{{time}}</div>
                                <div class="order_info"  style="color: #666666;">費用：{{price}}</div>
                                <div class="order_info"  style="color: #666666;">地點：{{address}}</div>
                            </div>
                        </div>
                        <hr>
                        <div id="contact_form_box">
                            <h3>您的聯絡資訊</h3>
                            <div  style="color: #666666;">聯絡姓名：{{name}}</div><br>
                            <div  style="color: #666666;">聯絡信箱：{{mail}}</div><br>
                            <div  style="color: #666666;">手機號碼：{{phone}}</div><br>
                            <h4>請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</h4>

                            <p>信件為自動發送，請勿回覆</p>
                            <p>如有其他問題，歡迎您聯繫客服人員</p>
                        </div>
                </div>
            </article>  
        </section>                             
    </body>
</html>